body{
    margin: 0px;
    background-color: rgb(205, 200, 200);
}
header{
    background-color: rgb(232, 184, 184);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;

    & nav{
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;;
    }
    & #amazon, #github{
        height: 50px;
    }
    & #linkedin,#certificado{
        width: 50px;
        height: 50px;
    }
}
#container{
    height: 70vh;
    display: flex;
    flex-direction: row;

    & #imagenes{
        width: 50vw;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 40px;
        
        & #imagen-lateral{
            display: flex;
            flex-direction: column;
            width: 70px;
            
            & img{
                margin-bottom: 5px;
                border: 1px solid #077674;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            & img:hover{
                background-color: blue;
            }
        }

        & #imagen-grande img{
            width: 460px;
        }
    }

    & #texto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & #educacion a{
            text-decoration: none;
            margin-right: 50px;
            background-color: rgb(231, 180, 71);
            padding: 10px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
}
        & a:hover{
            color: red;
        }
    }
}

#valoraciones{
    margin: 50px;
    margin-top: 100px;
}