div{
    padding: 50px;
    background-color: ;
    margin-right: 600px;
    border-left: double 8px black;
    border-right: dashed 10px blue;
    border-top: dotted 5px green;
    border-bottom: solid thick red;
    
}