::placeholder {
  color: silver;
}

.no-borde {
  border: none;
}

body {
  margin: 0px;
  color: silver;
  background-color: rgb(235, 232, 232);
}

header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid silver;
  position: sticky;
  top: 0px;
  background-color: white;
}
header #primero {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
}
header #primero #logo {
  height: 40px;
}
header #primero #busqueda {
  display: flex;
  border: 1px solid rgb(211, 205, 205);
}
header #primero #busqueda input:focus {
  outline: none;
  box-shadow: none;
}
header #primero a {
  margin-left: 10px;
  text-decoration: none;
  color: silver;
}
header #segundo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header #segundo #scroll {
  display: flex;
  flex-direction: row;
  border-top: 1px solid silver;
}
header #segundo #scroll a {
  padding: 9px;
}
header #segundo #nonono img {
  height: 15px;
  padding: 9px;
}

#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid silver;
  align-items: center;
  background-color: white;
}
#subscribe b {
  color: black;
  margin-right: 2px;
}
#subscribe input {
  border: 1px solid rgb(211, 205, 205);
  height: 20px;
  margin-left: 10px;
}
#subscribe button {
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0px 10px;
}
#subscribe div {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close {
  height: 15px;
  margin-left: 30px;
  margin-right: 10px;
}

#contexto {
  display: flex;
  flex-direction: row;
}
#contexto #left,
#contexto #right {
  display: flex;
  flex-direction: column;
}
#contexto #popular,
#contexto #today {
  background-color: white;
}
#contexto .cabeza {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
#contexto .cabeza h2 {
  font-size: 15px;
  color: black;
}
#contexto .cabeza > div {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
#contexto .cabeza > div p {
  margin-left: 10px;
}
#contexto .cabeza > div p:first-child {
  color: black;
}
#contexto .cuerpo {
  display: flex;
  flex-direction: column;
}
#contexto .cuerpo .c {
  border-top: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#contexto .cuerpo .c h4,
#contexto .cuerpo .c .texto > p {
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 10px;
}
#contexto .cuerpo .c h4,
#contexto .cuerpo .c .vote > p,
#contexto .cuerpo .c .like > p:first-child {
  color: black;
}
#contexto .cuerpo .c .texto {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contexto .cuerpo .c .click > div {
  border: none;
}
#contexto .cuerpo .c .click {
  width: 100%;
}
#contexto .cuerpo .c .click,
#contexto .cuerpo .c .vote,
#contexto .cuerpo .c .comment,
#contexto .cuerpo .c .like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contexto .cuerpo .c .vote {
  margin-left: 10px;
}
#contexto .cuerpo .c .vote img {
  height: 20px;
}
#contexto .cuerpo .c .comment > img {
  height: 10px;
}
#contexto .cuerpo p {
  font-size: 10px;
}
#contexto .cuerpo .click {
  margin-top: 10px;
}
#contexto .cuerpo .click div {
  margin-right: 10px;
  display: flex;
  align-items: center;
  border: 1px solid silver;
  padding: 5px;
  height: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#contexto .cuerpo .like {
  align-self: flex-end;
}
#contexto .cuerpo .like p:first-child {
  background-color: rgb(235, 226, 226);
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#contexto .cuerpo .like p:last-child {
  align-self: center;
  margin-left: 5px;
}
#contexto .cuerpo #chanllenge,
#contexto .cuerpo #chanllenge2 {
  border: none;
}
#contexto .cuerpo #show-more {
  display: flex;
  display: row;
  justify-content: center;
}
#contexto .cuerpo #show-more img {
  height: 10px;
  align-self: center;
  margin-right: 5px;
}

#today .cuerpo img {
  height: 70px;
}

#slack,
#chat,
#tweets {
  background-color: white;
  width: 20vw;
  margin-left: 22px;
  margin-bottom: 30px;
}

#slack .cabeza {
  height: 50px;
}
#slack .cabeza h4 {
  color: black;
  font-size: 18px;
}
#slack .cabeza img {
  margin: 0px;
}
#slack p {
  margin-left: 20px;
  margin-top: 0px;
}
#slack button {
  margin: 17px 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#chat h4 {
  color: black;
}
#chat .contacto:first-of-type {
  border-top: 1px solid silver;
  padding-top: 20px;
}
#chat .contacto:last-of-type {
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
}
#chat .contacto {
  display: flex;
  flex-direction: row;
  margin-left: 17px;
  margin-right: 20px;
}
#chat .contacto img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 10px;
}
#chat .contacto div {
  display: flex;
  flex-direction: column;
}
#chat .contacto div h4 {
  margin-bottom: 0px;
}
#chat .contacto div h4,
#chat .contacto div p {
  height: auto;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 2px;
}
#chat .contacto div button {
  width: 100px;
  background-color: white;
  border: 1px solid silver;
  margin-left: 10px;
  margin-bottom: 20px;
}
#chat > p {
  text-align: center;
  color: red;
}

#tweets {
  color: black;
}
#tweets .first-word {
  font-size: 30px;
}
#tweets .azul {
  font-size: 15px;
  color: blue;
}
#tweets div {
  margin-left: 20px;
  margin-right: 10px;
}
#tweets #lala {
  border-bottom: 1px solid silver;
}
#tweets #lala p {
  font-size: 10px;
}
#tweets .liked {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
}
#tweets .liked img {
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#tweets .liked p {
  margin-left: 5px;
}
#tweets .liked .silver {
  color: rgb(135, 130, 130);
}
#tweets .liked-person > p {
  margin-top: 0px;
}
#tweets .lele {
  margin-left: 0px;
  height: 136px;
  overflow-y: auto;
  overflow-x: clip;
}

@media (max-width: 599.5px) {
  #contexto > #right {
    display: none;
  }
  #primero #busqueda input {
    width: 70vw;
  }
  #subscribe {
    display: none;
  }
  header #segundo {
    padding-left: 0px;
  }
  header #segundo #scroll {
    width: 80vw;
  }
  header #segundo #scroll a:nth-last-of-type(1), header #segundo #scroll a:nth-last-of-type(2), header #segundo #scroll a:nth-last-of-type(3) {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 991.5px) {
  header #segundo {
    padding-left: 0px;
  }
  header #segundo #scroll {
    width: 80vw;
  }
  header #segundo #scroll a:nth-last-of-type(1), header #segundo #scroll a:nth-last-of-type(2), header #segundo #scroll a:nth-last-of-type(3) {
    display: none;
  }
  #popular {
    margin-left: 5%;
  }
  #popular, #today {
    width: 90vw;
  }
  #subscribe {
    margin: 20px 5%;
  }
  #subscribe div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
  }
  #subscribe img {
    margin-right: 30px;
    flex-shrink: 0;
  }
  #today {
    margin-left: 5%;
    margin-top: 20px;
  }
  #contexto > #right {
    display: none;
  }
  #busqueda input {
    width: 70vw;
  }
  #right {
    visibility: hidden;
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.5px) {
  #segundo {
    width: 88vw;
  }
  #segundo #scroll {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #popular {
    margin-left: 50px;
  }
  #popular, #today {
    width: 90vw;
  }
  #subscribe {
    margin: 20px 50px;
    width: 88vw;
    padding-left: 20px;
  }
  #subscribe div {
    width: 100%;
  }
  #subscribe img {
    margin-right: 30px;
  }
  #subscribe input {
    margin-left: 2px;
  }
  #today {
    margin-left: 50px;
    margin-top: 20px;
  }
  #contexto > #right {
    display: none;
  }
  #busqueda input {
    width: 70vw;
  }
}
@media (min-width: 1200px) {
  #popular {
    margin-left: 150px;
  }
  #subscribe {
    margin: 20px 150px;
    margin-right: 160px;
  }
  .cabeza img {
    margin-right: 20px;
  }
  #today {
    margin-left: 150px;
    margin-top: 20px;
  }
  #popular,
  #today {
    width: 53vw;
  }
  #busqueda input {
    width: 55vw;
  }
}

/*# sourceMappingURL=style.css.map */
